<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAccount</servlet-name>
        <servlet-class>controller.addAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFriend</servlet-name>
        <servlet-class>controller.addFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusLichHen</servlet-name>
        <servlet-class>model.BusLichHen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAppointment</servlet-name>
        <servlet-class>controller.addAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dangNhap</servlet-name>
        <servlet-class>controller.dangNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAccount</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFriend</servlet-name>
        <url-pattern>/addFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusLichHen</servlet-name>
        <url-pattern>/BusLichHen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAppointment</servlet-name>
        <url-pattern>/addAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dangNhap</servlet-name>
        <url-pattern>/dangNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>host</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>instance</param-name>
        <param-value>NGANNGANCHIMTE\\NGANCUTE</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>DbName</param-name>
        <param-value>LichHen</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>ngan123</param-value>
    </context-param>
</web-app>
